<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BundleProgram</key>
	<string>Contents/Resources/UpdateInstaller</string>
	<key>Label</key>
	<string>com.max-langer.latest.UpdateInstaller</string>
	<key>MachServices</key>
	<dict>
		<key>com.max-langer.latest.UpdateInstaller</key>
		<true/>
	</dict>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
